<form action="/message" method="post">
   <h1>Contact Us</h1>
   <i class="bi bi-person-circle"></i>
   <input type="text" name="" placeholder="First name">

   <input type="submit" value="SEND">
</form>