<form action="/check" method="post">
   <h1>System Login</h1>
   Username: <input type="text" name="username" id="">
   <br><br>
   Password: <input type="password" name="password" id="">
   <br><br>
   <input type="submit" value="Login">
</form>